body{
    margin: 0;
}
*{
    scroll-behavior: smooth;
}

nav{
    height: 4vmax;
    display: flex;
    align-items: center;
    box-shadow: 0 0 10px black;
    background-color: rgb(11, 11, 53);
    position: sticky;
    top: 0%;
    z-index: 10000;
}

.left{
    width: 20%;
    display: flex;
    justify-content: center;
}
.left>a{
    text-decoration: none;
    color: rgb(167, 167, 7);
    font-size: 2vmax;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.mid{
    width: 60%;
    display: flex;
    justify-content: space-evenly;
    align-self: stretch;
}
.mid>a{
    text-decoration: none;
    color: white;
    font-size: 1.4vmax;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.mid>a:hover{
    border-bottom: 2px solid orange;
    color: orange;
    transition: all 0.5s;
}

.right{
    width: 20%;
    display: flex;
    justify-content: space-evenly;
    align-self: stretch;

}
.right>a{
    text-decoration: none;
    color: white;
    font-size: 1.4vmax;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.right>a:hover{
    border-bottom: 2px solid green;
    color: green;
    transition: all 0.5s;
}

.home{
    display: flex;
    height: 90vh;
    background-image: radial-gradient(beige,beige);
}

.container{
    width: 100%;
}
#rightc{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
#rightc>img{
    width: 600px;
    height: 400px;
    margin-right: 2vmax;
    filter: drop-shadow(0 0 20px black);
}

#leftc{
    display: flex;
    flex-direction: column;
    padding: 2vmax;
    box-sizing: border-box;
    justify-content: center;
    
}
#leftc>h1{
    font-size: 5vmax;
    font-family: 'Times New Roman', Times, serif;
}
#leftc>h2{
    margin-top: -8%;
    font-size: 2vmax;
    font-family: 'Times New Roman', Times, serif;
}
#leftc>p{
    margin-left: 3%;
    font-size: 1.5vmax;
    font-family: 'Times New Roman', Times, serif;
}
#leftc>button{
    width: 9vmax;
    padding: 1vmax;
    border-radius: 2vmax;
    border: none;
    background-color:brown;
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    cursor: pointer;
}
#leftc>button:hover{
    background-color: rgb(117, 22, 22);
}


/* .................................................................................................*/



#products>h1{
    font-size: xx-large;
    text-align: center;
    margin: 5vmax auto;
    border-bottom:5px solid rgb(8, 8, 48);
    width: 25vw;
    padding: 0.5vmax;
}   

.containerproduct{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: rgb(255, 255, 255);
    height: 100%;
    max-width: 80vw;
    margin: auto;
}

.articles{
    transition: 0.3s;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1vmax;
    font-size: large;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.articles>img{
    width: 22vmax;
    height: 22vmax;
}

.articles>h4{
    margin: 2%;
}
.articles>h5{
    margin: 0;
} 
.articles:hover{
    transform: translateY(-10px);
}

/*........................................................................................................*/

footer{
    margin-top: 7vmax;
    border: 2px solid black;
    padding: 2vmax;
    display: flex;
    background-color: rgb(6, 6, 42);
    color: white;

}

.leftFooter{
    font-size: 1.4vmax;
    width: 20%;
    height: 20vmax;
    font-family: 'Times New Roman', Times, serif;
}
.leftFooter>img{
    height: 2vmax;
    width: 9vmax;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.midFooter{
    width: 60%;
    height: 20vmax;
}
.midFooter>h1{
    color: gold;
    font-size: xx-large;
    text-align: center;
}
.midFooter>p{
    max-width: 40%;
    margin: auto;
}

.rightFooter{
    width: 20%;
    height: 20vmax;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.rightFooter>h4{
    font-size: 1.4vmax;
}
.rightFooter>a{
    text-decoration: none;
    color: white;
    margin: 0.7vmax;
    font-size: 1.2vmax;
}

