form{
    max-width: 800px;
    margin: auto;
    background-color: rgb(190, 183, 183);
    padding: 10px;
    font-size: larger;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

form>div{
    margin:auto;
    width: 700px;
}

body{
    background-color: antiquewhite;
    margin: 5px;
    padding: 0px;
}

h2{
    text-align: center;
    margin: 40px;
}

h1{
    color: brown;
}
p{
    color: red;
}
body>p{
    color: black;
}

input[type= text],
input[type= email],
input[type= number],
input[type= password],
select,
textarea{
    padding: 5px;
    width: 80%;
    border-radius: 5px;
    border: none;
    outline: none;
}

input[type= Submit]{
    width: 120px;
    padding: 8px;
    font-size: medium;
    font-weight: 600;
    display: block;
    margin: auto;
    border: none;
    background-color:orange;
    color: rgb(230, 224, 224);
    border-radius: 20px;
    cursor: pointer;
}

input[type= Submit]:hover{
    background-color: rgba(255, 166, 0, 0.808);
}

.checks{
    border: 1px solid black;
    padding: 20px;
}
